@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #020202;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e5d88;
    --foreground: #020202;
  }
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: "Copperplate", "Papyrus", fantasy;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

header {
  background-color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
}

.logo {
  margin-bottom: -25px;
  margin-left: 10px;
}

.main {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-js-laptop {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.next-large-logo {
  display: flex;
  justify-content: center;
}

a {
  padding-left: 15px;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

h3 {
  text-align: left;
  padding-left: 10px;
  font-size: 18px;
  margin-top: 5px;
}

h1 {
  font-size: 40px;
  margin-top: 10px;
  text-align: center;
}

p {
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  margin-bottom: 25px;
}

footer {
  font-family: "Copperplate", "Papyrus", fantasy;
  background-color: white;
  padding: 10px 20px;
  text-align: center;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
